<f:be.menus.actionMenu>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:calmedia/Resources/Private/Language/locallang_backend.xlf:index.header', default: 'Index')}" controller="Backend" action="index"/>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:calmedia/Resources/Private/Language/locallang_backend.xlf:place.header', default: 'Places')}" controller="BackendPlace" action="index"/>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:calmedia/Resources/Private/Language/locallang_backend.xlf:section.header', default: 'Sections')}" controller="BackendSection" action="index"/>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:calmedia/Resources/Private/Language/locallang_backend.xlf:type.header', default: 'Types')}" controller="BackendTyp" action="index"/>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:calmedia/Resources/Private/Language/locallang_backend.xlf:holiday_template.header', default: 'Holiday Templates')}" controller="BackendHolidayTemplate" action="index"/>
</f:be.menus.actionMenu>