{namespace cal = PfarreNg\Calmedia\ViewHelpers}

<f:layout name="Backend" />

<f:section name="functionsLeft">
	<f:render partial="Backend/Menu"/>
</f:section>

<f:section name="body">
	<h1><f:translate key="LLL:EXT:calmedia/Resources/Private/Language/locallang_backend.xlf:section.header" default="Sections"/></h1>
	<div class="table-fit">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="width: 50em"><f:translate key="LLL:EXT:calmedia/Resources/Private/Language/locallang_backend.xlf:section.title.label" default="Title"/></th>
					<th style="width: 2em">
						<div class="btn-group">
							<f:be.buttons.icon uri="{cal:editRecord(parameters: 'edit[tx_calmedia_domain_model_section][{pid}]=new&returnUrl={returnUrl}')}" icon="actions-edit-add" additionalAttributes="{class: 'btn btn-default'}" />
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{sections}" as="section">
					<tr>
						<td style="width: 50em">{section.name}</td>
						<td style="width: 2em">
							<div class="btn-group">
								<f:be.buttons.icon uri="{cal:editRecord(parameters: 'edit[tx_calmedia_domain_model_section][{section.uid}]=edit&returnUrl={returnUrl}')}" icon="actions-open" additionalAttributes="{class: 'btn btn-default'}" />
								<cal:remove object="{section}" class="tx_calmedia_domain_model_section"/>
							</div>
						</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</div>
</f:section>