
<table class="tx-calmedia" >
	<tr>
		<td>
			<f:translate key="tx_calmedia_domain_model_date.title" />
		</td>
		<td>
		{date.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_calmedia_domain_model_date.date" />
		</td>
		<td>
		{date.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_calmedia_domain_model_date.description" />
		</td>
		<td>
		{date.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_calmedia_domain_model_date.location" />
		</td>
		<td>
		{date.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_calmedia_domain_model_date.address" />
		</td>
		<td>
		{date.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_calmedia_domain_model_date.end_date" />
		</td>
		<td>
		{date.endDate -> f:format.date()}
		</td>
	</tr>
</table>